<div class="cards">
<div class="form shadow p-3 bg-light mb-5 w-75 rounded">
<form id="create-post">
  <h1 class="fs-2 text-center">Create Post</h1>
  <div class="logCard">
  <div class="mb-3 text-center w-75">
    <h3 for="title" class="form-label">Post Title</h3>
    <input type="text" id="post-title" class="form-control text-center"/>
  </div>
  <div class="mb-3 text-center w-75">
    <h3 for="post_content" class="form-label">Post Content</h3>
    <input type="text" id="post_content" class="form-control text-center" />
  </div>
  </div>
  <div class="mb-3 text-center">
    <button type="submit" class="btn postBtn btn-lg">Create New Post</button>
  </div>
</form>
</div>
</div>
<script src="/js/createPost.js"></script>