<h1>dashboard</h1>

{{#each userBlog}}
<a href="/dashboard/update"><h4>{{title}}</h4></a> 

{{/each}}

<a href="/dashboard/createpost"><button
    type="button"
    class="btn btn-primary btn-lg"
  >Create Post</button></a>


  <script src="/js/logout.js"></script>
