<div class="w-50">
<form id="create-comment">
  <h1>Leave a Comment</h1>
  <div class="mb-3">
    <label for="title" class="form-label">Post Title</label>
    <input type="text" id="post-title" class="form-control"/>
  </div>
  <div class="mb-3">
    <label for="post_content" class="form-label">Post Content</label>
    <input type="text" id="post_content" class="form-control" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Create New Post</button>
  </div>
</form>

</div>
<script src="/js/createPost.js"></script>