
   <h1 class=" fs-2 text-center">The Feed</h1>
{{#each posts}}
<div class="cards">
<div class="card text-center shadow w-75 p-3 rounded">
  <div class="card-header">
     <h2><a href='/post/{{id}}'>{{title}}</a></h2>
  </div>
   <p class="text-muted">{{format_date createdAt}}</p>
</div>
</div>
{{/each}}
