<form id="login-form">
  <h1>login</h1>
  <div>
    <label for="username">username</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">submit</button>
  </div>
</form>

<p>click here to <a href="/signup">sign up</a></p>

<script src="/js/login.js"></script>