<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
<form id="login-form">
  <h1 class="text-center text-primary">LOGIN</h1>
  <div class="mb-3 text-center">
    <h4 for="username" class="form-label text-primary">Username</h4>
    <input type="text" id="username" class="form-control"/>
  </div>
  <div class="mb-3 text-center">
    <h4 for="password" class="form-label text-primary">Password</h4>
    <input type="password" id="password" class="form-control"/>
  </div>
  <div class="mb-3, text-center">
    <button type="submit" class="btn btn-primary btn-lg">LOGIN</button>
  </div>
</form>

<h3 class="text-center">Click here to <a href="/signup">Sign Up!</a></h3>
</div>
<script src="/js/login.js"></script>