<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form id="update-post">
    <h1 class="text-primary text-center">Update Post</h1>
    <div class="mb-3 text-center">
      <h4 for="title" class="form-label text-primary">Post Title</h4>
      {{#with post}}
       <input type="hidden" id="post_id" value={{id}}/>
      <input
        type="text"
        id="post-title"
        value='{{title}}'
        class="form-input form-control"
      />
    </div>
    <div class="mb-3 text-center">
      <h4 for="post_content" class="form-label text-primary">Post Content</h4>
      <input
        type="text"
        id="post_content"
        value="{{post_content}}"
        class="form-input form-control"
      />
      {{/with}}
    </div>
    <div class="mb-3, text-center">
      <button type="submit" class="btn btn-primary">Update Post</button>
      <button type="click" id="delete-post-btn" class="btn btn-primary">Delete Post</button>
    </div>
  </form>
</div>
<script src="/js/updatePost.js"></script>